@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/* CSS Umum */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: 500;
}

/* Menambahkan .menu-toggle dan responsive styling dari contoh navbar */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #5d88d5;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        padding: 0 20px;
    }

    .menu-toggle {
        display: flex;
    }
}

/* CSS untuk Content */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

.description {
    flex-basis: 60%;
    padding: 1em;
}

/* CSS untuk Cards */
.cards {
    background-color: #f7f7f7;
    padding: 2em;
    margin-bottom: 5em;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Mengubah menjadi 2 kolom */
    gap: 20px;
}

.card {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}

/* CSS untuk Forecast Cards */
.forecast-cards {
    background-color: #f7f7f7;
    padding: 2em;
}

.forecast-cards .card-grid {
    grid-template-columns: repeat(2, 1fr);
}

/* CSS Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
    margin-top: 5em;
}

